body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #AB58C7;
    height: 90px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.brziStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 426px;
    padding: 2rem 1rem;
    margin: 0;
    background-image: url("./pozadine/pozadinadobrodoslice.png");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dobrodoslica {
    font-weight: 700;
    font-size: 6vw;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #AB58C7; 
    animation: fadeIn 0.8s ease forwards;
}

.obavijesti {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 240px;
    padding: 2rem 3%;
    margin: 0;
    background-image: url("./pozadine/pozadinaobavijesti.png");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    box-sizing: border-box; 
}

.obavijestiTekst {
    font-size: 4vw;
    margin: 0;
    animation: fadeIn 2s ease forwards;
}

@media (max-width: 1024px) {
  .brziStart {
    min-height: 50vh;
    background-position: top;
  }
}

@media (max-width: 600px) {
  .brziStart {
    height: 200px;
  }

  .dobrodoslica {
    font-size: 40px;
  }

  .obavijesti {
    height: fit-content;
  }

  .obavijestiTekst {
    font-size: 6vw;
  }
}


