.stranicaPrijava {
    width: 100%;
    height: calc(100vh - 90px);;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.Prijava {
    padding-left: 10px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(48px, 8vw, 96px);
    display: flex;
    letter-spacing: -0.005em;
    color: #AB58C7;

}

.opisPrijave {
    padding-left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 24px);
    display: flex;
    letter-spacing: -0.005em;
}

.tekst {
    width: 100%;
}