.sucelje {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 85vh;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background: rgba(171, 88, 199, 0.98);
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-width: 4px 8px;
    border-style: solid;
    border-color: #2CDE32;
}

.formaZaNatjecanja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px; 
}

.formaZaNatjecanja .opisNatj textarea {
    background: #E3C1EE;
    resize: vertical;
    width: 560px;
    height: 80px;
    max-height: 200px;
    min-height: 40px;
}

.formaZaNatjecanja>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 600px;
}

.formaZaNatjecanja label {
    width: 237px;
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.formaZaNatjecanja .submitOdustani>:first-child {
    padding: 12px 16px;
    width: 120px;
    height: 46px;
    background: #2CDE32;
    border-radius: 12px;
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    color: black;
}

.formaZaNatjecanja input[type="text"], .formaZaNatjecanja>div>select {
    width: 300px;
    height: 25px;
    background: #E3C1EE;
    border-radius: 0;
}

.formaZaNatjecanja .opisNatj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formaZaNatjecanja .suci textarea{
    width: 300px;
    height: 80px;
    background: #E3C1EE;
    resize: vertical;
}

.submitOdustani>:nth-child(2) {
    height: 35px;
    background-color: lightgray;
    color: black;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-family: 'Sedan SC';
    font-style: normal;
}

.suci textarea::placeholder {
    color: #AB58C7; 
    opacity: 1;       
    font-style: italic; 
}
@media (max-width: 700px){
    .formaZaNatjecanja>div {
        flex-direction: column;
        width: 100%;
    }
    .sucelje {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: none;
        transform: none;
        border-radius: 0;
        box-sizing: border-box;
    }
    .formaZaNatjecanja .opisNatj textarea{
        width: 90%;
    }

}