.sucelje {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 85vh;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background: rgba(171, 88, 199, 0.95);
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-width: 4px 8px;
    border-style: solid;
    border-color: #2CDE32;
}

.formaZaNatjecanja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px; 
}

.opisNatj textarea {
    background: #E3C1EE;
    resize: vertical;
}

.formaZaNatjecanja>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 600px;
}

.formaZaNatjecanja label {
    width: 237px;
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.formaZaNatjecanja .submitOdustani>:first-child {
    padding: 12px 16px;
    width: 120px;
    height: 46px;
    background: #2CDE32;
    border-radius: 12px;
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.formaZaNatjecanja input[type="text"], .formaZaNatjecanja>div>select {
    width: 300px;
    height: 25px;
    background: #E3C1EE;
}

.formaZaNatjecanja .opisNatj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formaZaNatjecanja .sudci textarea{
    width: 300px;
    height: 80px;
    background: #E3C1EE;
    resize: vertical;
}

.submitOdustani>:nth-child(2) {
    height: 35px;
    background-color: lightgray;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-family: 'Sedan SC';
    font-style: normal;
}